.main {
    max-width: 100vw;
}

.primeira_secao {
    background-color: #F9DB79;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.h1 {
    color: #ffffff;
    text-shadow: 3px 5px 2px #474747;
    font-size: 100px;
    position: absolute;
}

.segunda_secao {
    display: flex;
}

.segunda_secao_image {
    width: 50%;
    height: auto;
}

.segunda_secao_textos {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 100px 50px;
}

.segunda_secao_textos h2 {
    font-size: 36px;
}

.segunda_secao_textos span {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}

.segunda_secao_textos p {
    font-size: 16px;
    text-align: center;
}


@media (max-width: 768px) {
    .main {
        max-width: 100vw;
    }

    .primeira_secao {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .h1 {
        font-size: 50px;
    }

    .image {
        width: 60%;
        height: 60%;
        margin-bottom: 10%;
    }

    .segunda_secao {
        display: flex;
        flex-direction: column;
    }

    .segunda_secao_image,
    .segunda_secao_textos {
        width: 100%;
    }
}
@media (max-width: 268px) {
    .main {
        width:  100vw;;
    }

    .primeira_secao {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .h1 {
        font-size: 30px;
    }

    .image {
        width: 60%;
        height: 40%;
        margin-bottom: 10%;
    }

    .segunda_secao {
        display: flex;
        flex-direction: column;
    }

    .segunda_secao_image,
    .segunda_secao_textos {
        width: 100%;
    }

    .segunda_secao_textos span {
        text-align: center;
    }

    .segunda_secao_textos p {
        text-align: left;
    }

    .h2_sobre_nos {
        text-align: center;
    }
}